<div class="container">
    <h1 class="text-center">Admin</h1>
    <%= render "admin/nav_links"%>
    <br>
    <table class="table table-striped" style="background-color:#59D18D;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Post Title</th>
                <th scope="col">Post Body</th>
                <th scope="col">Author</th>
                <th scope="col">Comments</th>
                <th scope="col">Likes</th>
                <th scope="col">Dislikes</th>
                <th scope="col">Approve Post</th>
                <th scope="col">Status</th>
                <th scope="col">Delete Post</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post| %>
                <tr>
                    <th scope="row"><%= post.id %></th>
                    <td><%= link_to post.title, post_path(post) %></td>
                    <td><%= post.body.truncate(20)%></td>
                    <td><%= link_to post.user.email, profile_path(post.user) %></td>
                    <td><%= pluralize(post.comments.size, "Comment")%></td>
                    <td><%= post.likes.count %></td>
                    <td><%= post.dislikes.count %></td>
                    <td><%= button_to "Approve", post_approval_path(post), class:"btn btn-danger"%></td>
                    <% if post.approval_status %>
                        <td><%= button_to post.approval_status, "#", class:"btn", style:"background-color:lime; color: black;", :disabled => true%></td>
                    <% else %>
                        <td><%= button_to post.approval_status, "false", class:"btn", style:"background-color:red; color: white;", :disabled => true%></td>
                    <% end %>
                    <td><%= button_to "Delete", admin_post_destroy_path(post), method: :delete,  class:"btn btn-danger" %></td>
                <tr>
            <% end %>
        </tbody>
    </table>

</div>
