<br>
<!-- The Modal -->
<div id="phones_modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close_telephone">&times;</span>
    <div class="text-center">
<p style="color: green"><%= notice %></p>

<h1>Phone Numbers</h1>

<div id="phones" style="display: inline-block;">
  <%= link_to "New Number", add_phone_number_path(current_user) %>
  <br><br>
  <% if current_user.phone_numbers.empty? %>
    <strong><%="Start by adding Phone Numbers"%></strong>
  <% end %>
  <% current_user.phone_numbers.each do |number| %>
    <div class="each_number" style="border-style:solid">
      <p>
          <strong>Number:</strong>
          <%= number.number %>
      </p>

      <p>
          <strong>Country:</strong>
          <%= number.country %>
      </p>
    </div>

    <p>
    </p>
  <% end %>
</div>


    </div>
    <br>
  </div>

</div>
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: aquamarine;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close_telephone {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_telephone:hover,
.close_telephone:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>
<script>
// Get the modal
var telephone_modal = document.getElementById("phones_modal");

// Get the button that opens the modal
var telephone_btn = document.getElementById("phones_index");

// Get the <span> element that closes the modal
var telephone_span = document.getElementsByClassName("close_telephone")[0];

// When the user clicks the button, open the modal 
telephone_btn.onclick = function() {
  telephone_modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
telephone_span.onclick = function() {
  telephone_modal.style.display = "none";
}

</script>








