<p style="color: green"><%= notice %></p>

<h1>Phone Numbers</h1>

<div id="places">
  <% current_user.phone_numbers.each do |number| %>
    <p>
        <strong>Number:</strong>
        <%= number.number %>
    </p>

    <p>
        <strong>Country:</strong>
        <%= number.country %>
    </p>

    <p>
        <%= button_to "Destroy this place", phone_number_destroy_path, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "New Number", add_phone_number_path(current_user) %>
