<h2><%= t(:sign_in)%></h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, :label => t(:email), class:"form-control"%>
    <%= f.input :password, :label => t(:password), class:"form-control" %>
    <%= f.button :submit, t(:sign_in), class:"btn btn-primary", style:"float:left; margin-right:15px;"%>
<% end %>

<%= render "devise/shared/links" %>
