<div id="<%= dom_id place %>">
  <p>
    <strong>Name:</strong>
    <%= place.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= place.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= place.longitude %>
  </p>
  
  <p>
    <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{place.latitude}, #{place.longitude}&key=#{Rails.application.credentials.google_map_key}", alt: 'Map') %>
  </p>

  <p>
  </p>

</div>
